---
import FullscreenNavIndexAcordion from "./NavIndexAcordion.astro";
import FullscreenNavIndexLink from "./NavIndexLink.astro";
import type { IndexPage } from "../sitemap";

interface Props {
  id?: string;
  sitemap: IndexPage[];
}
---

<nav id={Astro.props.id}>
  <div>
    {
      Astro.props.sitemap.map((index) => (
        <div>
          {index.hasChildren ? (
            <FullscreenNavIndexAcordion index={index} />
          ) : (
            <FullscreenNavIndexLink index={index} />
          )}
        </div>
      ))
    }
  </div>
</nav>

<style>
  nav {
    height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height));
    width: 100vw;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    overflow-y: scroll;
    display: flex;
  }

  .show {
    background-color: rgba(255, 255, 255, 0.9);
  }
</style>
