---
import TextWithIcon from "@components/atom/TextWithIcon.astro";

interface Props {
  index: {
    title: string;
    url: string;
  };
}
const { index } = Astro.props;
---

<div class="root">
  <h2>
    <TextWithIcon
      icon="material-symbols:link-rounded"
      animateOnHover={true}
      iconColor="primary"
    >
      <a class="max-width" href={index.url}>
        {index.title}
      </a>
    </TextWithIcon>
  </h2>
</div>

<style>
  .icon-container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 0.5px solid var(--color-text-disable);
  }

  h2 {
    width: 100%;
  }

  .max-width {
    display: block;
    width: 100%;
  }

  .icon {
    font-size: large;
  }

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 0.5px solid var(--color-text-disable);
    height: 2rem;
  }
</style>
