---
import TextWithIcon from "@components/atom/TextWithIcon.astro";
interface Props {
  href?: string | null | undefined;
}

const { href } = Astro.props;
---

{
  href ? (
    <TextWithIcon
      animateOnHover={true}
      iconColor="primary"
      icon="material-symbols:link"
    >
      <a href={href}>
        <slot />
      </a>
    </TextWithIcon>
  ) : (
    <TextWithIcon
      animateOnHover={true}
      iconColor="tri1"
      icon="material-symbols:link-off-rounded"
    >
      <span>
        <slot />
      </span>
    </TextWithIcon>
  )
}
