---
import WidthShrinker from "./width-shrinker.astro";
interface Props {
  mode: "transparent" | undefined;
}
---

<h1 class={Astro.props.mode}>
  <WidthShrinker>
    <slot />
  </WidthShrinker>
</h1>

<style>
  h1 {
    font-size: var(--font-size-3xl);
    color: var(--color-inverted-text-strong);
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--color-bg-dark);
  }

  .transparent {
    background-color: rgba(1,1,2,0.5);
  }
rgb(1, 1, 2)</style>
