---
import MemberCard from "@components/pages/members/MemberCard.astro";

import Base from "@layouts/base/index.astro";
import { getCollection } from "astro:content";
import { viewRank } from "@content";

const faculties = await getCollection(
  "member",
  ({ data }) => data.occupation === "Faculty"
);
const researchers = await getCollection(
  "member",
  ({ data }) => data.occupation === "Researcher"
);
const researchStudents = await getCollection(
  "member",
  ({ data }) => data.occupation === "Research Student"
);
const students = await getCollection(
  "member",
  ({ data }) => data.occupation === "Student"
);
---

<Base>
  <div class="root">
    <section>
      <h2>教員</h2>
      <div class="container">
        {
          faculties
            .sort((a, b) => viewRank(b.data) - viewRank(a.data))
            .map((faculty) => <MemberCard faculty={faculty.data} />)
        }
      </div>
    </section>
    <section>
      <h2>研究員</h2>
      <div class="container">
        {
          researchers
            .sort((a, b) => viewRank(b.data) - viewRank(a.data))
            .map((researcher) => <MemberCard faculty={researcher.data} />)
        }
      </div>
    </section>
    <section>
      <h2>学生</h2>
      <div class="container">
        {
          students
            .sort((a, b) => viewRank(b.data) - viewRank(a.data))
            .map((researcher) => <MemberCard faculty={researcher.data} />)
        }
      </div>
    </section>
    <section>
      <h2>研究生</h2>
      <div class="container">
        {
          researchStudents
            .sort((a, b) => viewRank(b.data) - viewRank(a.data))
            .map((researcher) => <MemberCard faculty={researcher.data} />)
        }
      </div>
    </section>
  </div>
</Base>

<style>
  .root {
    background-color: var(--color-bg-dark);
  }

  section {
    padding-top: 2rem;
  }

  h2 {
    font-size: var(--font-size-xl);
    color: var(--color-inverted-text-strong);
    font-weight: bold;
    margin-left: 2rem;
  }

  .container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, max-content));
    gap: 1.5rem;
  }
</style>
