---
import type {
  DomesticCollection,
  InternationalCollection,
  Publication,
} from "../../resource/publications";

interface Props {
  categorized: {
    journal: Publication[];
    international: InternationalCollection;
    domestic: DomesticCollection;
  };
}

const { journal, international, domestic } = Astro.props.categorized;
---

<div class="container">
  <div class="category">論文誌</div>
  <div class="large-summary">
    <div class="number">{journal.length}</div>
    <div class="unit">報</div>
  </div>
  <div class="category">国際会議</div>
  <div class="large-summary">
    <div class="number">
      {Object.values(international).reduce((acc, pubs) => acc + pubs.length, 0)}
    </div>

    <div class="unit">報</div>
  </div>
  <div class="category">国内会議</div>
  <div class="large-summary">
    <div class="number">
      {Object.values(domestic).reduce((acc, pubs) => acc + pubs.length, 0)}
    </div>
    <div class="unit">報</div>
  </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }

  .large-summary {
    display: flex;
    flex-direction: row;
  }
</style>
