---
import type { NotFacultyAlumnus } from "@content";
import Alumnus from "./Alumnus.astro";

interface Props {
  alumni: NotFacultyAlumnus[];
}
const { alumni: alumnus } = Astro.props;
---

<div class="grid">
  {
    alumnus.map((staff) => (
      <Alumnus name={staff.name} year={staff.year} month={staff.month} />
    ))
  }
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    width: 100%;
  }
</style>
