---
import Header from "./parts/header/index.astro";
import Footer from "./parts/Footer.astro";
export type Props = {
  title: string;
};
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/destyle.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <Header />
    <div id="contents-wrapper">
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
</style>
