---
import Header from "./parts/header/index.astro";
import Footer from "./parts/Footer.astro";
import { SEO } from "astro-seo";
export type Props = {
  title: string;
  description: string;
};
const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <SEO
      title={title}
      description={description}
      extend={{
        link: [
          { rel: "stylesheet", href: "/destyle.css" },
          { rel: "stylesheet", href: "/global.css" },
        ],
        meta: [
          { name: "generator", content: Astro.generator },
          { name: "viewport", content: "width=device-width, initial-scale=1" },
        ],
      }}
    />
  </head><body>
    <Header />
    <div id="contents-wrapper">
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
</style>
