---
import ExternalLink from "../anchor/external-link.astro";

export type Work = {
  title: string;
  authors: string[];
  url?: string | null;
  description: string[];
};

interface Props {
  works: Work[];
}

const { works } = Astro.props;
---

<ul class="recent-works">
  {
    works.map((work) => (
      <li class="work">
        <div class="work-title">
          <ExternalLink href={work.url}>{work.title}</ExternalLink>
        </div>
        <div class="work-detail">
          <ul class="authors-container">
            {work.authors.map((author) => (
              <li class="author">{author}</li>
            ))}
          </ul>
          <ul class="description-container">
            {work.description.map((desc) => (
              <li class="description">{desc}</li>
            ))}
          </ul>
        </div>
      </li>
    ))
  }
</ul>

<style>
  .work {
    margin-bottom: 2rem;
  }

  .work-title {
    font-size: var(--font-size-lg);
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }

  .work-detail {
    margin-left: 2rem;
  }

  .authors-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
  }

  .author {
    color: var(--color-text-disable);
    margin-right: 0.5em;
  }
</style>
