---
interface Props {
  percent?: 40 | 50 | 60;
}
---

<div class={Astro.props.percent ? `w-${Astro.props.percent}` : "w-50"}>
  <slot />
</div>

<style>
  .w-40 {
    min-width: 40%;
    max-width: 60%;
  }

  .w-50 {
    min-width: 50%;
    max-width: 60%;
  }

  .w-60 {
    min-width: 60%;
    max-width: 60%;
  }

  div {
    margin-right: 1em;
    height: 100%;
  }
</style>
