<div class="outer">
  <div class="inner">
    <slot />
  </div>
</div>

<style>
  .outer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: 769px) {
    .outer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .inner {
      width: 70%;
    }
  }
</style>
