---
interface Props {
  template: string;
}
---

<div>
  <slot />
</div>
<style define:vars={{ template: Astro.props.template }}>
  div {
    display: grid;
    grid-template-rows: var(--template);
    gap: 1rem;
    height: 100%;
    width: 100%;
  }
</style>
