---
import { Icon } from "astro-icon/components";
import TextWithIcon from "./text-with-icon.astro";
interface Props {
  href?: string | null;
}

const { href } = Astro.props;
---

{
  href ? (
    <TextWithIcon
      animateOnHover={true}
      iconColor="primary"
      icon="material-symbols:link"
    >
      <a href={href}>
        <slot />
      </a>
    </TextWithIcon>
  ) : (
    <TextWithIcon
      animateOnHover={true}
      iconColor="tri1"
      icon="material-symbols:link-off-rounded"
    >
      <a href={href}>
        <slot />
      </a>
    </TextWithIcon>
  )
}

<style></style>
