---
import { getCollection } from "astro:content";
import ExternalLink from "../../components/anchor/external-link.astro";
import Typography from "../../components/atom/typography.astro";
import NoImgHeader from "../../components/common/no-img-header.astro";
import ResponsiveWidth from "../../components/layout/responsive-width.astro";
import Base from "../../layouts/base.astro";
// import { news } from "./_index";

const news = await getCollection("news");
---

<Base title="News">
  <NoImgHeader>News</NoImgHeader>
  <ResponsiveWidth>
    <ul>
      {
        news.map((article) => (
          <li>
            <h2 class="title">
              <ExternalLink href={`/news/${article.slug}`}>
                {article.data.title}
              </ExternalLink>
            </h2>
            <div class="detail">
              <div class="date">{article.data.date}</div>
              <Typography>{article.data.description}</Typography>
            </div>
          </li>
        ))
      }
    </ul>
  </ResponsiveWidth>
</Base>

<style>
  h1 {
    font-size: xx-large;
    font-weight: bold;
  }

  li {
    border-bottom: var(--bg-dark) solid 1px;
  }

  .detail {
    margin-left: 2rem;
  }

  .date {
    margin-top: 1em;
    color: var(--color-text-disable);
  }

  .title {
    font-size: var(--font-size-lg);
    color: var(--color-text-strong);
    font-weight: bold;
  }
</style>
