---
import ResponsiveWidth from "@components/layout/ResponsiveWidth.astro";
---

<h1>
  <ResponsiveWidth>
    <slot />
  </ResponsiveWidth>
</h1>

<style>
  h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-inverted-text-strong);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-bg-dark);
  }

  .transparent {
    background-color: rgba(1, 1, 2, 0.5);
  }
</style>
