.container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container > li {
  min-width: 100%;
  position: relative;
  scroll-snap-align: center;
}

.container > li > img {
  width: 100%;
  height: auto;
}

.container > li > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 2em;
}
