---
interface Props {
  href: string;
  bgColor?: "light" | "dark";
}

const bgColor = Astro.props.bgColor ? Astro.props.bgColor : "light";
const { href } = Astro.props;
---

<a href={href}>
  <div class="arrow-container">
    <div
      class:list={["arrow-center", bgColor == "light" ? "bg-light" : "bg-dark"]}
    >
    </div>
  </div>
  <slot />
</a>

<style>
  :root {
    --arrow-max-length: 1.2em;
    --arrow-min-length: 0.5em;
    --arrow-head-length: 0.5em;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a:hover .arrow-container {
    width: var(--arrow-max-length);
  }

  a:hover .arrow-center {
    width: var(--arrow-max-length);
  }

  .bg-light {
    background-color: var(--color-text-normal);
  }

  .bg-dark {
    background-color: var(--color-inverted-text-normal);
  }

  .arrow-container {
    visibility: inherit;
    margin-right: 0.5em;
    height: 1em;
    width: var(--arrow-min-length);
    transition: width 0.1s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .arrow-center {
    visibility: inherit;
    height: 1px;
    border-radius: 1px;
    width: var(--arrow-min-length);
    top: 50%;
    transition: width 0.1s linear;
  }
</style>
