---
import { Icon } from "astro-icon/components";
---

<li>
  <div class="icon-wrapper">
    <Icon name="material-symbols:chevron-right-rounded" class="icon" />
  </div>
  <span>
    <slot />
  </span>
</li>

<style>
  .icon-wrapper {
    height: 1em;
  }

  .icon {
    color: var(--color-primary);
    font-size: 1.5rem;
  }
  li {
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
</style>
