---
import { Image } from "astro:assets";
import ResponsiveWidth from "../layout/responsive-width.astro";

interface Props {
  imgSrc: ImageMetadata;
  imgAlt: string;
}

const { imgSrc, imgAlt } = Astro.props;
---

<div class="img-triming">
  <Image src={imgSrc} alt={imgAlt} class="header-img" />
  <div class="heading-text">
    <h1>
      <ResponsiveWidth>
        <slot />
      </ResponsiveWidth>
    </h1>
  </div>
</div>

<style>
  .img-triming {
    position: relative;
    height: 12rem;
    max-height: 12rem;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-img {
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  .heading-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(1, 1, 10, 0.6);
  }

  h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-inverted-text-strong);
    padding-block-end: 1rem;
    padding-block-start: 1rem;
  }
</style>
