---
import ResponsiveWidth from "../layout/responsive-width.astro";
---

<div class="root">
  <ResponsiveWidth>
    <h1>
      <slot />
    </h1>
  </ResponsiveWidth>
</div>

<style>
  .root {
    background-color: var(--color-bg-dark);
  }

  h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-inverted-text-strong);
  }
</style>
