---
interface Props {
  id?: string;
}
---

<div id={Astro.props.id}>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime distinctio
  ducimus tenetur! Quos delectus recusandae fugiat nihil maxime esse illum
  corrupti. Modi velit architecto cupiditate ipsam totam quod ea aspernatur.
</div>

<style>
  div {
    height: calc(100vh - var(--header-height));
    transition:
      background-color 0.3s ease,
      backdrop-filter 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1px);
  }

  .show {
    background-color: rgba(255, 255, 255, 1);
    transition:
      background-color 0.3s ease,
      backdrop-filter 0.3s ease-in;
    backdrop-filter: blur(10px);
  }
</style>
