---
import UnderlineAnchor from "../anchor/underline-link.astro";
import ExternalLink from "../anchor/external-link.astro";
import NavDesktop from "./nav-desktop.astro";
import HamburgerIcon from "./hamburger-button.astro";

export type SubPage = {
  title: string;
  url: string;
};

export type IndexPage = {
  title: string;
  url?: string;
  children: SubPage[];
};

const pages: IndexPage[] = [
  {
    title: "Teams",
    url: "/teams",
    children: [
      {
        title: "Algorithm",
        url: "/teams/algo",
      },
      {
        title: "System Software",
        url: "/teams/ss",
      },
      {
        title: "FPGA",
        url: "/teams/fpga",
      },
      {
        title: "Architecture",
        url: "/teams/arch",
      },
      {
        title: "PA",
        url: "/teams/pa",
      },
    ],
  },
  {
    title: "Members",
    url: "/members",
    children: [
      {
        title: "Members",
        url: "/members",
      },
      {
        title: "Alumnus",
        url: "/members/alumnus",
      },
    ],
  },
  {
    title: "News",
    url: "/news",
    children: [],
  },
  {
    title: "Publications",
    url: "/publications",
    children: [],
  },
  {
    title: "Access",
    url: "/access",
    children: [],
  },
  {
    title: "Link",
    children: [
      {
        title: "筑波大学",
        url: "https://www.tsukuba.ac.jp/",
      },
      {
        title: "システム情報工学研究群",
        url: "https://www.sie.tsukuba.ac.jp/",
      },
      {
        title: "情報理工学位プログラム",
        url: "https://www.cs.tsukuba.ac.jp/",
      },
      {
        title: "情報科学類",
        url: "https://www.coins.tsukuba.ac.jp/",
      },
      {
        title: "計算科学研究センター",
        url: "https://www.ccs.tsukuba.ac.jp/",
      },
      {
        title: "卒研配属情報",
        url: "http://localhost:5173/bachelor/#!index.md",
      },
      {
        title: "情報システム実験B",
        url: "https://www.hpcs.cs.tsukuba.ac.jp/experiment/text.html",
      },
      {
        title: "Internal",
        url: "http://localhost:5173/internal/pukiwiki/",
      },
    ],
  },
];
---

<header>
  <nav class="logo">
    <a href="/">HPCS Lab.</a>
  </nav>
  <div class="desktop-nav">
    <NavDesktop pages={pages} />
  </div>
  <div class="mobile-nav">
    <HamburgerIcon id="drawer-toggle-button" />
  </div>
</header>

<script>
  type ToggleEventHandler = (opened: boolean) => void;
  type HamburgerButton = HTMLElement & {
    addToggleEventListener: (handler: ToggleEventHandler) => void;
  };

  customElements.whenDefined("humburger-button").then(() => {
    const drawerToggleButton = document.getElementById(
      "drawer-toggle-button"
    ) as HamburgerButton | null;

    console.log(drawerToggleButton);
    if (drawerToggleButton) {
      drawerToggleButton.addToggleEventListener((opened: boolean) => {
        console.log(opened);
      });
    }
  });
</script>

<style>
  :root {
    --drawer-width: 14em;
    --drawer-height: 16em;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: white;
    position: sticky;
    z-index: 100;
    height: var(--header-height);
    max-height: var(--header-height);
    min-height: var(--header-height);
    color: var(--color-text-strong);
    box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.1);
  }

  header a:visited {
    color: var(--color-text-strong);
  }

  header a:link {
    color: var(--color-text-strong);
  }

  .logo {
    font-size: var(--font-size-2xl);
    font-weight: light;
    margin-left: 2rem;
    font-family: ui-monospace;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .desktop-nav {
    height: 100%;
    display: none;
  }

  .mobile-nav {
    height: 100%;
    display: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .desktop-nav {
      display: unset;
    }

    .mobile-nav {
      display: none;
    }
  }
</style>
